.clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.text-overflow(){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #333;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

body{
    -webkit-font-smoothing: antialiased;
}

textarea{
    resize: none;
}

.item-loading-panel,
#item-loading-panel{
    display: none;
    text-align: center;
    padding: 60px 0 20px;

    img{
        width: 24px;
        opacity: 0.5;
    }
}

.item-loading-panel{
    padding-top: 30px;
    display: block;
}

#loading-panel{
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1060;
    display: none;

    .loading-icon,
    img{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: -32px auto 0;
    }

    &.in-panel{
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
    }

    &.circle{
        img{
            width: 72px;
            margin-top: -36px;
        }
    }
}