
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@screen-xlg-min: 1400px;

@green-color-1: #34bfa3;

@red-color-1: #FF4d4d;

@text-color: #444648;
@primary-color: #e83e8c;
@side-menu-bg-color: #2f4050;
@bg-color: #f2f3f8;

.clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.text-overflow(){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #333;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

body{
    -webkit-font-smoothing: antialiased;
    background: @bg-color;
}

textarea{
    resize: none;
}

a{
    cursor: pointer;

    &:hover{
        text-decoration: none;
    }
}

.item-loading-panel,
#item-loading-panel{
    display: none;
    text-align: center;
    padding: 60px 0 20px;

    img{
        width: 24px;
        opacity: 0.5;
    }
}

.item-loading-panel{
    padding-top: 30px;
    display: block;
}

#loading-panel{
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1060;
    display: none;

    .loading-icon,
    img{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: -32px auto 0;
    }

    &.in-panel{
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
    }

    &.circle{
        img{
            width: 72px;
            margin-top: -36px;
        }
    }
}

@side-menu-shrink-width: 80px;

#side-menu-panel{
    position: fixed;
    width: 220px;
    background: @side-menu-bg-color;
    min-height: 100%;
    // -webkit-transition: all 0.25s ease-in-out;
    // transition: all 0.25s ease-in-out;
    z-index: 10;

    &.shrink{
        width: @side-menu-shrink-width;

        #logo{
            padding: 10px;
            text-align: center;

            > span{
                font-size: 12px;
                display: block;
            }
        }

        li{
            &.has-child{
                > a{
                    &:after{
                        display: none;
                    }
                }

                &:hover{
                    .sub-menu{
                        display: block;
                        height: auto !important;
                        z-index: 10;
                    }
                }
            }

            a{
                text-align: center;
            }
        }

        .menu-item-icon{
            font-size: 18px;
        }

        .menu-item-title{
            display: none;
        }

        .sub-menu{
            position: absolute;
            left: @side-menu-shrink-width;
            top: 0;
            display: none;

            a{
                text-align: left;
            }
        }
    }

    #logo{
        display: block;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
        color: @primary-color;
        max-width: 100%;
        padding: 15px;

        > img{
            max-width: 100%;
            max-height: 60px;
        }

        > span{
            // -webkit-transition: all 0.25s ease-in-out;
            // transition: all 0.25s ease-in-out;
        }
    }

    .side-menu{
        margin: 0;
        font-family: 'Kanit', sans-serif;

        li{
            color: #a7b1c2;
            font-weight: 400;
            position: relative;

            .menu-item-icon{
                width: 24px;
                display: inline-block;
                text-align: center;
            }

            // &.lv-1-li{
            //     &.active{
            //         > a{
            //             &:before{
            //                 content: '';
            //                 width: 3px;
            //                 height: 100%;
            //                 position: absolute;
            //                 top: 0;
            //                 left: 0;
            //                 background: @primary-color;
            //             }
            //         }
            //     }
            // }

            &.has-child{
                > a{
                    &:after{
                        content: '\f107';
                        font-family: 'FontAwesome';
                        position: absolute;
                        right: 15px;
                    }
                }
            }

            &.active{
                > a{
                    color: @primary-color;

                    &:hover{
                        color: @primary-color;
                    }
                }
            }

            a{
                position: relative;
                display: block;
                color: #a7b1c2;
                padding: 14px 15px 14px 15px;
                .text-overflow();
                text-transform: uppercase;
                -webkit-transition: all 0.15s ease-in-out;
                transition: all 0.15s ease-in-out;

                &:hover{
                    color: #fff;
                }

                &.opened{
                    background: #293846;

                    &:after{
                        content: '\f106';
                        font-family: 'FontAwesome';
                    }
                }
            }

            .sub-menu{
                padding: 5px 15px 5px 28px;
                background: #293846;

                a{
                    padding: 10px 15px;
                    text-transform: none;
                    font-weight: 300;
                }
            }
        }
    }
}

#header-panel{
    height: 70px;
    background: #fff;
    padding: 0 15px;
    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1) ;
    -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1) ;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1) ;

    #menu-btn{
        font-size: 18px;
        padding: 22.5px 7px;
        display: inline-block;
        color: @text-color;
    }

    #account-dropdown{
        float: right !important;

        #account-button{
            padding: 25px 20px;
            display: block;
            color: #333;
        }

        .dropdown-menu{
            > li{
                > a{
                    font-weight: 300;
                }
            }
        }
    }
}

#main-content-panel{
    margin-left: 220px;
    padding: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

    &.expand{
        margin-left: @side-menu-shrink-width;
    }
}